#main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.phone-field, .delay-field {
  margin-top: 1em;
}

.submit-button {
  margin-top: 0.5em;
  float: right;
  width: 6em;
}
