#main, #data-table, h4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#main {
  top: 25%;
}

#data-table {
  display: block;
  top: 60%;
  width: auto;
  max-height: 20em;
  overflow: scroll;
}

h4 {
  top: 55%;
}

li div {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.phone-field, .delay-field {
  margin-top: 1em;
}

.submit-button {
  margin-top: 0.5em;
  float: right;
  width: 6em;
}
