#main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
input {
  margin-top: 1em;
  width: 75%;
}
.submit-button {
  margin-top: 0.5em;
  float: right;
  width: 6em;
}
